* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #fff;
  color: #333;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#sidebar {
  width: 234px;
  min-width: 220px;
  background-color: #F9FAFC;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
  border-right: 1px solid #eeeff1;
}

#sidebar.collapsed {
  width: 60px;
  min-width: 60px;
  padding: 20px 10px;
}

#sidebar h2 {
  font-size: 20px;
  margin-bottom: 30px;
  color: #222;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -2px;
}

.logo-icon {
  width: 24px;
  height: 24px;
}

#sidebar.collapsed .logo-label {
  display: none;
}

.search-box {
  margin-bottom: 30px;
  position: relative;
}

#sidebar.collapsed .search-box {
  display: none;
}
#sidebar .icon-logo{
    display: inline-block;
    background: url(/images/icon-logo.png) no-repeat;
    width: 34px;
    height: 34px;
}
.search-box input {
  width: 100%;
  padding: 12px 35px 8px 8px;
  border: 1px solid #ccc;
  border-radius:10px;
  font-size: 14px;
  background-color: transparent;
}

.icon-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  /* pointer-events: none; */
  cursor: pointer;
  display: inline-block;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background 0.2s;
  white-space: nowrap;
  font-size: 14px;
}

.menu-item:hover {
  background-color: #ffffff;
}
.menu-item.active{
    background-color: #ecf1fc;
    color: #164194;
    font-weight: bold;
}
.menu-item .icon-menu1{
    display: inline-block;
    background: url(/images/icon-menu1.png) no-repeat;
    width:20px;
    height: 20px;

}
.menu-item .icon-menu2{
    display: inline-block;
    background: url(/images/icon-menu2.png) no-repeat;
    width:20px;
    height: 20px;

}
.menu-item .icon-menu3{
    display: inline-block;
    background: url(/images/icon-menu3.png) no-repeat;
    width:20px;
    height: 20px;

}
.menu-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.menu-label {
  transition: opacity 0.2s ease;
}

#sidebar.collapsed .menu-label {
  opacity: 0;
  width: 0;
  overflow: hidden;
}
#sidebar.collapsed .menu-item {
    gap:0
  }

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#topbar {
  background-color: #F9FAFC;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #eeeff1;
  clear: both;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}
#topbar span{
    vertical-align: 3px;
}
#topbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
  float: right;
}

#extra-button {
  padding: 6px 12px;
  background-color: #0b0d25;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
#topbar .icon-folding-menu{
    display: inline-block;
    background: url(/images/icon-folding-menu.png) no-repeat;
    width:20px;
    height: 20px;

}
#topbar .icon-newchat{
    display: inline-block;
    background: url(/images/icon-newchat.png) no-repeat;
    width:20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 2px;

}
.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 100;
}
.user-info .icon-user-info{
    display: inline-block;
    background: url(/images/icon-user-info.png) no-repeat;
    width:34px;
    height: 34px;

}

#toggleSidebar {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#toggleSidebar img {
  width: 24px;
  height: 24px;
}

#chat-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 10px 0;
  max-width: 80%;
  padding: 10px 15px;
  border-radius: 15px;
  line-height: 1.4;
}

.user {
  align-self: flex-end;
  background-color: #ecf1fc;
  color: #111;
}

.bot {
  align-self: flex-start;
  /* background-color: #f0f8ff; */
  color: #111;
  /* border: 1px solid #cce6ff; */
}

#welcome-message {
  align-self: center;
  color: #444;
  border:0;
  border-radius:0;
  font-size: 34px;
  font-weight: bold;
  margin:16% auto;
  text-align: center;
  max-width: 80%;
  background-color: #fff;
  background-image: linear-gradient(to right, #1567e4, #164194);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#welcome-message::before{
    content: '';
    display:block;
    background: url(/images/icon-logo2.png) no-repeat;
    width: 66px;
    height: 66px;
    margin:0 auto;
}

#input-area {
  display: flex;
  padding: 15px;
  padding-bottom: 3%;
  width: 50%;
  margin: 0 auto;
}

#input-area .input-wrapper {
  position: relative;
  flex: 1;
}

#input {
  width: 100%;
  padding: 20px 45px 20px 10px;
  font-size: 16px;
  border:1px solid #dbdbdb;
  border-radius:99px;
  /* outline: none; */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)  ;
}

#send {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 10px;
  font-size: 14px;
  background-color: #164194;
  color: white;
  border: none;
  border-radius: 99px;
  cursor: pointer;
  /* display: flex; */
  align-items: center;
  gap: 6px;
  width:50px;
  height: 50px;
}

#send:hover {
  background-color: #133a8a;
}
#send .icon-menu1{
    display: inline-block;
    background: url(/images/icon-send.png) no-repeat;
    width:20px;
    height: 20px;margin-top: 4px;
}
.send-icon {
  width: 18px;
  height: 18px;
}
@media (max-width : 1200px) {

  #input-area{width: 100%;}
}
@media (max-width: 768px) {
  #sidebar {
    width: 60px !important;
    min-width: 60px !important;
    padding: 20px 10px !important;
  }

  #sidebar .logo-label,
  #sidebar .menu-label,
  #sidebar .search-box {
    display: none !important;
  }
  #topbar-right{display: none;}
  .menu-item{
    gap:0 !important;
  }

}
